.article-content p {
	min-height: 1.25em;
}

.article-content {
	white-space: pre-wrap;
}

.indent-8 {
	text-indent: 2rem;
}

p[data-indent-level="1"] {
	padding-left: 2rem;
}

p[data-indent-level="2"] {
	padding-left: 4rem;
}

p[data-indent-level="3"] {
	padding-left: 6rem;
}

p[data-indent-level="4"] {
	padding-left: 8rem;
}

p[data-indent-level="5"] {
	padding-left: 10rem;
}
