@import "tailwindcss";
@import "tw-animate-css";
@import "./editor.css";
@import "./typography.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--font-crimson: var(--font-crimson-text);
	--font-rubik: var(--font-rubik);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-article-bg: var(--article-bg);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

body {
	font-family: var(--font-rubik), sans-serif;
}

@layer base {
	h1 {
		font-family: var(--font-crimson-text), sans-serif;
		font-weight: 600;
	}
}

@layer utilities {
	.h-vh {
		height: 100dvh;
	}
	.error {
		font-size: 0.8rem;
		color: var(--destructive);
	}
}

.container {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: #020618;
	--card: #ffffff;
	--card-foreground: #020618;
	--popover: #ffffff;
	--popover-foreground: #020618;
	--primary: #0f172b;
	--primary-foreground: #f8fafc;
	--secondary: #f1f5f9;
	--secondary-foreground: #0f172b;
	--muted: #f1f5f9;
	--muted-foreground: #62748e;
	--accent: #f1f5f9;
	--accent-foreground: #0f172b;
	--destructive: #e7000b;
	--border: #e2e8f0;
	--input: #e2e8f0;
	--ring: #90a1b9;
	--chart-1: #f54a00;
	--chart-2: #009689;
	--chart-3: #104e64;
	--chart-4: #ffba00;
	--chart-5: #fd9a00;
	--sidebar: #f8fafc;
	--sidebar-foreground: #020618;
	--sidebar-primary: #0f172b;
	--sidebar-primary-foreground: #f8fafc;
	--sidebar-accent: #f1f5f9;
	--sidebar-accent-foreground: #0f172b;
	--sidebar-border: #e2e8f0;
	--sidebar-ring: #90a1b9;
	--article-bg: #fcf6e3;
}

.dark {
	--background: #020618;
	--foreground: #f8fafc;
	--card: #0f172b;
	--card-foreground: #f8fafc;
	--popover: #0f172b;
	--popover-foreground: #f8fafc;
	--primary: #e2e8f0;
	--primary-foreground: #0f172b;
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: #f8fafc;
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: #90a1b9;
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: #f8fafc;
	--destructive: #ff6467;
	--border: #ffffff1a;
	--input: #ffffff26;
	--ring: #6a7282;
	--chart-1: #1447e6;
	--chart-2: #00bc7d;
	--chart-3: #fd9a00;
	--chart-4: #ad46ff;
	--chart-5: #ff2056;
	--sidebar: #0f172b;
	--sidebar-foreground: #f8fafc;
	--sidebar-primary: #1447e6;
	--sidebar-primary-foreground: #f8fafc;
	--sidebar-accent: #1d293d;
	--sidebar-accent-foreground: #f8fafc;
	--sidebar-border: #ffffff1a;
	--sidebar-ring: #6a7282;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
